/*
* VARIABLES ------------------------------------------------------ */
// Colors
$color-Light-Cyan: hsl(193, 38%, 86%); 
$color-Neon-Green: hsl(150, 100%, 66%); 
$color-Grayish-Blue: hsl(217, 19%, 38%); 
$color-Dark-Grayish-Blue: hsl(217, 19%, 24%); 
$color-Dark-Blue: hsl(218, 23%, 16%); 

// Typography 
$Font-size-base: 1em;
$Font-size-quote: 1.75em;
$font-family-Manrope: 'Manrope', sans-serif;