@import url(/assets/css/normalize.css);
@import '_variables';
@import '_general';

/*
 *	CONTENT
 ------------------------------------------------------ */
main {
    margin: 0 1em 3em;
    padding: 1em 1.5em;
    background: $color-Dark-Grayish-Blue;
    border-radius: 1em;
    text-align: center;
}

h1 {
    font-size: 0.7em;
    letter-spacing: 0.3em;
    color: $color-Neon-Green;
    text-transform: uppercase;
}

.dice {
    width: 24px;
    height: 24px;
}

.dice-btn {
    position: relative;
    bottom: -3em;
    background: $color-Neon-Green;
    border: $color-Neon-Green;
    border-radius: 50%;
    padding: 1.2em;
}

.dice-btn:hover, .dice-btn:focus {
    cursor: pointer;
    box-shadow: 0 0 50px $color-Neon-Green;
}

/* Footer */
.attribution {
    font-size: 0.6875em;
    text-align: center;
}

.attribution a {
    color: $color-Neon-Green;
}